.projects-con{
    background-color: #F9FAFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ul-con{
    width: 80%;
}
.project-main-head{
    color: var(--font-high-emphasis, #25282B);
text-align: center;

/* title / h2 */
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 150% */
margin-bottom: 20px;
}

@media  (max-width: 756px) {
    .project-main-head{
        font-size: 28px;
    }
}